<section class="form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="form-title">Sample Sign Up Form</h3>

    <% if User.exists?(:email) %>
      <div class="field">
        <%= f.label :email %><br>
        <!--<%= f.text_field :email %>-->
        <%=text_field_tag 'email', '', :autocomplete => user_autocomplete_brand_name_path %>
      </div>
    <% else %>
      <div class="field">
        <%= f.label :email %><br>
        <!--<%= f.text_field :email %>-->
        <%=text_field_tag 'email', '', :autocomplete => user_autocomplete_brand_name_path %>

        <%= f.label :full_name %><br>
        <%= f.text_field :full_name %>

        <%= f.label :company_name %><br>
        <%= f.text_field :company_name %>

        <%= f.label :company_size %><br>
        <%= f.text_field :company_size %>

        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number %>
      </div>
    <% end %>
    <div class="actions submit">
      <%= f.submit %>
    </div>
  <% end %>
</section>
