<section class="form">
  <%= form_for:user, url: '/users' do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="form-title">Sample Sign Up Form</h3>

    <% if User.exists?(:user_id) %>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        <!--<%=text_field_tag 'email', '', :autocomplete => user_autocomplete_brand_name_path %>-->
      </div>
    <% else %>
      <div class="field">
        <p class='form-tag'>Email</p>
        <%= f.text_field :email %>
        <!--<%=text_field_tag 'email', '', :autocomplete => user_autocomplete_brand_name_path %>-->
        
        <br />
        <p class='form-tag'>Password</p>
        <%= f.password_field :password %>
        <br />
        <p class='form-tag'>Password Confirmation</p> 
        <%= f.password_field :password_confirmation %>

        <br />
        <p class='form-tag'>Full Name</p>
        <%= f.text_field :full_name %>

        <br />
        <p class='form-tag'>Company Name</p>
        <%= f.text_field :company_name %>

        <br />
        <p class='form-tag'>Company Size</p>
        <%= f.text_field :company_size %>

        <br />
        <p class='form-tag'>Phone Number</p>
        <%= f.text_field :phone_number %>
      </div>
    <% end %>
    <div class="actions submit">
      <%= f.submit %>
    </div>
  <% end %>
</section>
